Repository moevm/nosql2h24-cleaning, pull requests merged in 2024-11, with the labels that each got.

#8 5-init-frontend
  frontend/.gitignore
  frontend/deno.lock
  frontend/index.html
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/main.ts
  frontend/src/style.css
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#9 Созданы модели
  backend/internal/models/address.go
  backend/internal/models/consumable.go
  backend/internal/models/order.go
  backend/internal/models/service.go
  backend/internal/models/status_log.go
  backend/internal/models/user.go
Labels: backend, database

#16 15-dockerfile-frontend
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/src/shims-vue.d.ts
Labels: docker

#17 14 implement vue router
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/routing/router.ts
Labels: frontend

#18 6-docker-compose
  docker-compose.yml
  frontend/Dockerfile
Labels: docker

#24 4-layout-auth-page
  .gitignore
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/AuthenticationPage.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/main.ts
  frontend/src/routing/router.ts
  frontend/src/ui/uikit/ActionButton.vue
  frontend/src/ui/uikit/InputTextField.vue
  frontend/src/ui/uikit/uikit.vue
Labels: frontend

#26 25-client-main-page
  frontend/src/components/AuthenticationPage.vue
  frontend/src/components/ClientMainPage.vue
  frontend/src/components/MainPage.vue
  frontend/src/routing/router.ts
  frontend/src/ui/model/button.ts
  frontend/src/ui/model/textfield.ts
  frontend/src/ui/uikit/ActionButton.vue
  frontend/src/ui/uikit/InputTextField.vue
  frontend/src/ui/uikit/SideBar.vue
Labels: frontend

#27 20 Репозитории
  .env
  backend/go.mod
  backend/go.sum
  backend/internal/models/address.go
  backend/internal/models/consumable.go
  backend/internal/models/order.go
  backend/internal/models/service.go
  backend/internal/models/status_log.go
  backend/internal/models/user.go
  backend/internal/repository/errors.go
  backend/internal/repository/mongo/collections.go
  backend/internal/repository/mongo/order.go
  backend/internal/repository/mongo/service.go
  backend/internal/repository/mongo/user.go
  docker-compose.yml
Labels: backend, database

#33 28-history-order-page
  frontend/src/components/ClientMainPage.vue
  frontend/src/components/OrdersHistoryPage.vue
  frontend/src/routing/router.ts
  frontend/src/ui/uikit/DateFilter.vue
  frontend/src/ui/uikit/FilterPanel.vue
  frontend/src/ui/uikit/HeaderList.vue
  frontend/src/ui/uikit/OrderItem.vue
Labels: frontend

#32 30-auth-service
  backend/go.mod
  backend/go.sum
  backend/internal/models/token.go
  backend/internal/repository/mongo/user.go
  backend/internal/services/auth.go
  backend/internal/services/errors.go
  backend/internal/services/jwt/jwt.go
  backend/pkg/hasher/hasher.go
Labels: backend

#39 37-auth
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/app/app.go
  backend/internal/config/config.go
  backend/internal/controllers/http/auth/handler.go
  backend/internal/controllers/http/auth/login.go
  backend/internal/controllers/http/auth/logout.go
  backend/internal/controllers/http/auth/register.go
  backend/internal/controllers/http/middlewares/auth.go
  backend/internal/models/user.go
  backend/internal/services/auth.go
  backend/pkg/httputil/error.go
  backend/pkg/mongo/connect.go
Labels: backend

#41 38-admin-main-page
  frontend/src/components/AdminMainPage.vue
  frontend/src/components/AdminServicesSettingsPage.vue
  frontend/src/components/AdminWorkersSettingsPage.vue
  frontend/src/components/AuthenticationPage.vue
  frontend/src/components/ClientAddressesPage.vue
  frontend/src/components/ClientOrdersHistoryPage.vue
  frontend/src/components/MainPage.vue
  frontend/src/routing/router.ts
  frontend/src/ui/uikit/AddressItem.vue
  frontend/src/ui/uikit/DateFilter.vue
  frontend/src/ui/uikit/Dialog.vue
  frontend/src/ui/uikit/FilterPanel.vue
  frontend/src/ui/uikit/InputTextField.vue
  frontend/src/ui/uikit/MainContainer.vue
  frontend/src/ui/uikit/PanelContainer.vue
  frontend/src/ui/uikit/ServiceItem.vue
  frontend/src/ui/uikit/WorkerItem.vue
Labels: frontend

#43 36-create-new-order-page
  frontend/src/components/ClientCreateOrderPage.vue
  frontend/src/components/ClientMainPage.vue
  frontend/src/components/createOrderStep/AppartmentInfo.vue
  frontend/src/components/createOrderStep/ContactInfo.vue
  frontend/src/components/createOrderStep/ServiceInfo.vue
  frontend/src/routing/router.ts
  frontend/src/ui/uikit/HeaderList.vue
  frontend/src/ui/uikit/ServiceCardItem.vue
Labels: frontend

#46 45-service-endpoints
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/app/app.go
  backend/internal/controllers/http/v1/services/delete_service.go
  backend/internal/controllers/http/v1/services/get_service.go
  backend/internal/controllers/http/v1/services/get_services.go
  backend/internal/controllers/http/v1/services/handler.go
  backend/internal/controllers/http/v1/services/post_service.go
  backend/internal/controllers/http/v1/services/put_service.go
  backend/internal/models/address.go
  backend/internal/models/consumable.go
  backend/internal/models/service.go
  backend/internal/repository/mongo/service.go
  backend/internal/services/errors.go
  backend/internal/services/service.go
Labels: backend

#48 45-address-endpoints
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/app/app.go
  backend/internal/controllers/http/v1/users/delete_address.go
  backend/internal/controllers/http/v1/users/get_address.go
  backend/internal/controllers/http/v1/users/get_addresses.go
  backend/internal/controllers/http/v1/users/handler.go
  backend/internal/controllers/http/v1/users/post_address.go
  backend/internal/controllers/http/v1/users/put_address.go
  backend/internal/controllers/http/v1/users/user.go
  backend/internal/controllers/http/v1/users/users.go
  backend/internal/models/user.go
  backend/internal/repository/mongo/user.go
  backend/internal/services/address.go
  backend/internal/services/errors.go
Labels: backend

#55 54 created frontend models
  frontend/src/api/models/address.ts
  frontend/src/api/models/consumable.ts
  frontend/src/api/models/order.ts
  frontend/src/api/models/service.ts
  frontend/src/api/models/statuslog.ts
  frontend/src/api/models/user.ts
Labels: frontend

#57 56-add-new-address-request
  frontend/src/api/endpoint.ts
  frontend/src/api/request.ts
  frontend/src/components/client/ClientAddressesPage.vue
  frontend/src/ui/uikit/items/AddressItem.vue
Labels: frontend

#60 3-db-dump
  backend/Dockerfile
  backend/dump/dump.json
  backend/go.mod
  backend/go.sum
  backend/internal/app/app.go
  backend/internal/controllers/http/auth/register.go
  backend/internal/models/dump.go
  backend/internal/models/order.go
  backend/internal/repository/errors.go
  backend/internal/repository/mongo/order.go
  backend/internal/repository/mongo/service.go
  backend/internal/repository/mongo/user.go
  backend/internal/services/auth.go
  backend/pkg/mongo/connect.go
Labels: backend

#61 47 request workers users
  frontend/package.json
  frontend/src/api/endpoint.ts
  frontend/src/api/models/user.ts
  frontend/src/api/request.ts
  frontend/src/components/AuthenticationPage.vue
  frontend/src/components/admin/AdminMainPage.vue
  frontend/src/routing/router.ts
  frontend/src/store/user.ts
  frontend/src/ui/uikit/inputs/InputNumber.vue
  frontend/src/ui/uikit/inputs/InputTextArea.vue
  frontend/src/ui/uikit/inputs/InputTextField.vue
Labels: frontend

#62 49-orders-endpoints
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/dump/dump.json
  backend/internal/app/app.go
  backend/internal/controllers/http/v1/orders/create_order.go
  backend/internal/controllers/http/v1/orders/delete_order.go
  backend/internal/controllers/http/v1/orders/get_order.go
  backend/internal/controllers/http/v1/orders/get_orders.go
  backend/internal/controllers/http/v1/orders/handler.go
  backend/internal/controllers/http/v1/orders/update_order.go
  backend/internal/controllers/http/v1/services/delete_service.go
  backend/internal/controllers/http/v1/services/handler.go
  backend/internal/controllers/http/v1/services/post_service.go
  backend/internal/controllers/http/v1/users/delete_address.go
  backend/internal/controllers/http/v1/users/handler.go
  backend/internal/controllers/http/v1/users/post_address.go
  backend/internal/controllers/http/v1/users/user.go
  backend/internal/controllers/http/v1/users/users.go
  backend/internal/models/status_log.go
  backend/internal/repository/mongo/order.go
  backend/internal/services/errors.go
  backend/internal/services/orders.go
  backend/internal/types/search_params.go
Labels: backend
